<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="css/test.css">
	<script src="/js/test.js" type="text/javascript">
    </script>
    <title>希望小学</title>
     <h1 style="font-size: 40px">希望小学</h1>
     <hr>
</head>
<body>
             <div class="center">
             <form action="/QuickQuery/page">
              班级:<select></select>
              姓名:<input type="text" name="name"></input>
              <input type="submit" value="查询"></input>
              <button type="button" onclick="test()">添加</button>
              <input type="button" onclick="" value="修改">
              <input type="button" onclick="" value="删除">
              </form>
             </div>
        

          <table class="linyang" align="center">
             <th>姓名</th>
             <th>学号</th>
             <th>班级</th>
           <tr>
           	  <td>张三
           	  </td>
           	  <td>11
           	  </td>
           	  <td>
           	  	3班
           	  </td>
           </tr>          	
          </table>

</body>
</html>