<!DOCTYPE html>
<html>
<head>
    <title>希望小学</title>
    <link rel="stylesheet" type="text/css" href="/css/test.css">
    <script type="text/javascript" src="/long2/jquery.min.js"></script>
    <h1>希望小学</h1>
    <hr>
</head>
<body>
<div class="center">
    <form action="/QuickQuery/page">
        班级:<select></select>
        姓名:<input type="text" name="name"/>
        <input type="submit" value="查询"/>
        <input id="button1" type="but ton" value="添加"/>
        <input type="button" onclick="test()" value="修改">
        <input type="button" onclick="" value="删除">
    </form>
</div>
<button>点我</button>
<P id="www">这是一个测试</P>

<table class="linyang" align="center">
    <th>姓名</th>
    <th>学号</th>
    <th>班级</th>
    <tr>
        <td>张三
        </td>
        <td>11
        </td>
        <td>
            3班
        </td>
    </tr>
</table>
</body>
<script type="text/javascript" src="/js/test.js"></script>
</html>